{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "rubySingleQuote": true,
  "printWidth": 100,

  "semi": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 150
      }
    },

    {
      "files": ["*.html.erb"],
      "options": {
        "printWidth": 150
      }
    }
  ]
}
