<footer class="footer mt-auto py-3 border-top">
  <div class="container-sm">
    <div class="d-flex flex-wrap align-items-center justify-content-sm-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-end mb-2 mb-md-0">
        <li><%= link_to '沢登り', root_path, class: 'nav-link px-2 link-dark' %></li>
      </ul>

      <div class="col-md-3 text-end ms-auto">
        <ul>
          <li><%= link_to '利用規約', '#', class: 'nav-link px-2 link-dark' %></li>
          <li><%= link_to 'プライバシーポリシー', '#', class: 'nav-link px-2 link-dark' %></li>
          <li><%= link_to '問い合わせ', '#', class: 'nav-link px-2 link-dark' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
