<p class="or mt-3 mb-4">
  <%= t('.else') %>
</p>

<div class="text-center">
  <%= link_to auth_at_provider_path(:provider => :google), method: :post, class: 'w-100 btn btn-danger' do %>
    <%= icon('fab', 'google', class: 'me-1') %>
    <%= t('.login_google_account') %>
  <% end %>
</div>
