<div class="col-6">
  <div class="text-center mb-4">
    <div class="fs-1 m-4">
      <%= render 'shared/icon', column: column %>
    </div>
    <h5><%= column %></h5>
    <h3><%= value %></h3>
  </div>
</div>
