.route-list {
  position: relative;
  .route-link {
    text-decoration: none;
    p {
      color: black
    }
  }
  .favorite-button {
    position: absolute;
    top: 5%;
    left: 83%;
    margin: 0;
  }

  .unfavorite-button {
    position: absolute;
    top: 5%;
    left: 83%;
    margin: 0;
  }
}


img {
  object-fit: cover;
}

.progress-bar::after {
  margin: 0;
  content: "";
  height: 100%;
  border-right: solid black;
}

.map-image {
  position: relative;
  p {
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    opacity: 0.9;
  }
}
