.or {
	display: flex;
	align-items: center;
	color: #ccc;
	&::after, &::before {
		flex-grow: 1;
		content: '';
		border-top: 1px solid #ccc;
		box-sizing: border-box;
	}
	&::after {
		margin-left: 20px;
	}
	&::before {
		margin-right: 20px;
	}
}

.form-login {
	width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}
