<div class="container">
  <div class="form-login card border mt-5 mb-5">
    <div class="card-body">
      <%= current_user.nil? ? (render 'form') : (render 'shared/logout_form') %>
    </div>
  </div>
</div>
